# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Testes / cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Ambientes virtuais
venv/
.venv/
env/

# Editores
.vscode/
.idea/
